__pycache__/
.DS_Store
*.pyc
*.csv
*.tsv
*.tmp
*.png
*.txt
#*.slurm

venv/
!requirements.txt

testu_erauzketa/log/
testu_erauzketa/BasqueParl/
testu_erauzketa/ParlaMint/
testu_erauzketa/emaitzak_testu_erauzketa/
testu_erauzketa/testu_erauzketa_analisia_zuzenketentzat.ipynb
!sailburu_party.tsv
!sailburu_birth.tsv
!sailburu_gender.tsv

sentiment_analysis/log/
sentiment_analysis/run_gral_scratch_main_sentiment_old.slurm

irudiak/
