venv/
irudiak/
__pycache__/
*.pyc
*.csv
*.tsv
*.tmp
*.png
*.txt
!requirements.txt
.DS_Store
testu_erauzketa/log/
sentiment_analysis/log/
testu_erauzketa/BasqueParl/
testu_erauzketa/ParlaMint/
sentiment_analysis/run_gral_scratch_main_sentiment_old.slurm
testu_erauzketa/old_data/